newenv/

refproject/__pycache__/*

reapp/__pycache__/*

reapp/migrations/__pycache__/*

reapp/templates/Leave_form/

hrmenv/
media/media/for_profile_rUxR0Ma.jpg
.vscode/*

reapp/templates/Department/


debug_logger.log
db.sqlite3
env/