{% extends 'admin_dashboard.html' %}
{% load static %}
{% block content %}
<div class="col-md-10">
    <form method="POST">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        <div class="col-md-4">
            <label for="id_name">Name:</label> <input type="text" class="form-control" name="name" maxlength="120"
                id="id_name">
        </div><br><br>
        <button class="btn btn-success btn-sm">Save</button>
        <button class="btn btn-default btn-sm" onclick="window.history.back()">Cancel</button>
        <hr>
        <table>
            <tr>
                <th>Name</th>
            </tr>
            {% for l in repo %}
            <tr>
                <td>{{l.Name}}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}