{% extends 'admin_dashboard.html' %}
{% load static %}
{% block content %}
<style>
    .card {
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.36) !important;
        padding: 5px;
        border-radius: 5px !important;
        margin-top: 20px;
    }
    
    .table td,
    .table th {
        padding: 6px !important;
        font-size: 14px;
    }

    .table {
        margin: 10px 0px;
    }

    tbody tr:nth-child(odd) {
        background: #eee;
    }

    th {
        background: #3d6889;
        font-weight: 700;
        color: #fff;
    }

    a:hover,
    a:focus {
        text-decoration: none;
        color: #222;
    }

    a {
        color: #222;
    }

    .btn-info:focus,
    .btn-info:hover {
        background-color: #028ee1;
        border: 1px solid #028ee1;
    }

    .btn-info,
    .btn-info.disabled {
        background: #398bf7;
        border: 1px solid #398bf7;
        box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
        transition: 0.2s ease-in;
    }

    .btn-inverse,
    .btn-inverse:focus,
    .btn-inverse:active,
    .btn-inverse.focus,
    .btn-inverse:hover {
        background-color: #aa4935;
        border: 1px solid #aa4935;
        color: #fff;
    }

    .btn {
        padding: 7px 12px;
    }

    .btn:focus {
        box-shadow: none !important;
    }
    .form-group {
        margin-bottom: 0px !important;
        padding: 9px;
    }
</style>
<div class="page-wrapper">
    <div class="row">
        <div class="col-md-12 page-title-div">
            <h1 class="header">Announcement List</h1>
            <ol class="breadcrumbs">
                <li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li class="active"><a href="{% url 'announcement_create' %}">Announcement List</a></li>
            </ol>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- {{form.as_p}} -->
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="id_announcement_title">Title:</label> <input type="text"
                                name="announcement_title" id="id_announcement_title" maxlength="120"
                                class="form-control">
                        </div>
                        <div class=" col-md-4">
                            <label for="id_message">Message:</label> <input type="text" name="message" id="id_message"
                                maxlength="255" class="form-control">

                        </div>
                        <div class="form-group col-md-4">
                            <label for="id_document">Uploads:</label> <input type="file" name="document"
                                id="id_document" required class="form-control">
                        </div>
                    </div>
                </div>
                    <input type="submit" value="Submit" class="btn btn-primary ">
                </form>
            </div>
        </div>
        <div class="card">
            <table class="table table-bordered">
                <tr>
                    <th>Title</th>
                    <th>Announced Time</th>
                </tr>
                {% for tata in list %}
                <tr>
                    <td>{{tata.announcement_title}}</td>
                    <td>{{tata.announcement_time|date:"d-m-Y--G:i" }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}