{% extends 'admin_dashboard.html' %}
{% load static %}
{% block content %}
<style>
    body {
        font-family: 'Nunito', sans-serif;
    }

    .card {
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.36) !important;
        padding: 5px;
        border-radius: 5px !important;
        margin-top: 20px;
    }

    .jobbtn {
        margin: 10px 0px;
    }

    .btn-default {
        background-color: #848484;
        color: #fff;
    }

    input#id_job_specification {
        line-height: 1.3;
    }
    .form-group {
        margin-bottom: 0px !important;
        padding: 9px;
    }
</style>
<div class="page-wrapper">
    <div class="row">
        <div class="col-md-12 page-title-div">
            <h1 class="header">Job List</h1>
            <ol class="breadcrumbs ">
                <li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li class="active"><a href="{% url 'job_list' %}">Job List</a></li>
            </ol>
        </div>
    </div>
    <div class="container">
        <div class="card">
          
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    <!-- {{form.as_p}} -->
                    <div class="quali">
                    <div class="row form-group">
                        <div class=" col-md-6 mb-0">
                            <label for="id_job_title">Job title :</label> <input type="text" name="job_title"
                                maxlength="120" class="form-control" id="id_job_title" required>
                        </div>
                        <div class=" col-md-6 mb-0">
                            <label for="id_job_descriptions">Job descriptions</label> <input type="text"
                                name="job_descriptions" class="form-control" maxlength="255" required
                                id="id_job_descriptions">
                        </div>
                        <div class=" col-md-6 mb-0">
                            <label for="id_job_specification">Job specification</label>
                            <input type="file" name="job_specification" required class="form-control"
                                id="id_job_specification">
                        </div>

                        <div class=" col-md-6 mb-0">
                            <label for="id_note">Note</label> <input type="text" name="note" maxlength="120"
                                class="form-control" required id="id_note">
                        </div>
                    </div>
                </div>
                    <div class="jobbtn">
                        <button class="btn btn-primary">Save</button>
                        <button class="btn btn-default " onclick="window.history.back()">Cancel</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}