<!-- <h2 style="color:green;text-align: center;">Thanq for Visiting </h2>
<a style="text-align:center;" href="app/login">Login</a> -->


{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Meta -->
	<meta name="description" content="Dleohr - Bootstrap Admin Template">
	<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
	<meta name="author" content="Dreamguys - Bootstrap Admin Template">

	<!-- Page Title -->
	<title>Medeaz-HRM</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'homestatic/img/lo.png' %}" type="image/x-icon">

	<!-- Bootstrap core CSS -->
	<link href="{% static 'homestatic/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Line Awesome CSS -->
    <link href="{% static 'homestatic/css/line-awesome.min.css' %}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

	<!-- Animate On Scroll CSS -->
	<link href="{% static 'homestatic/css/aos.css' %}" rel="stylesheet">

	<!-- Owl Carousel CSS -->
	<link href="{% static 'homestatic/css/owl.carousel.min.css' %}" rel="stylesheet">
	<link href="{% static 'homestatic/css/owl.theme.default.min.css' %}" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="{% static 'homestatic/css/style.css' %}" rel="stylesheet">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">

</head>

<body>

	<div class="main-wrapper">

		<!-- Loader -->	
		<div id="loader-wrapper">
			<div class="loader">
			  <div class="dot"></div>
			  <div class="dot"></div>
			  <div class="dot"></div>
			  <div class="dot"></div>
			  <div class="dot"></div>
			</div>
		</div>
	

		<!-- Header -->
		<header id="home" class="header">

			<!-- Start Navigation -->
			<nav class="navbar navbar-expand-md home-menu">
				<div class="container-fluid">

					<!-- Start Header Navigation -->
					<a class="logo-link smooth-menu" href="#home">
						<img src="{% static 'homestatic/img/logo.png' %}" class="logo logo-display" alt="Logo" width="150">
						<img src="{% static 'homestatic/img/logo.png' %}" class="logo logo-scrolled" alt="Logo" width="100">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
						<i class="fa fa-bars"></i>
					</button>
					<!-- End Header Navigation -->

					<div class="collapse navbar-collapse" id="navbar-menu">
						<ul class="nav navbar-nav ml-auto">
							<li class="nav-item">
								<a class="smooth-menu nav-link" href="#home">Home</a>
							</li>
							<li class="nav-item">
								<a class="smooth-menu nav-link" href="#features">Features</a>
							</li>
							<li class="nav-item">
								<a class="smooth-menu nav-link" href="#viewdemos">Demo</a>
							</li>
							<li class="nav-item">
								<a class="smooth-menu nav-link" href="#about">About</a>
							</li>
							<li class="nav-item">
								<a class="smooth-menu nav-link" href="#customize">Customize</a>
							</li>
							<li class="nav-item">
								<a class="smooth-menu nav-link" href="#overview">Pages</a>
                            </li>
                            <li class="nav-item">
								<a class="smooth-menu nav-link" href="login">Login</a>
							</li>
						</ul>
						
					</div>
				</div>

			</nav>
			<!-- End Navigation -->

		</header>
		<!-- End Header -->

		<!-- Start Banner -->
		<div class="hero-section auto-height text-center">
			<div class="container-fluid">
				<div class="hero-wrap">
					<div class="row">
						
					<div class="col-lg-6">
					<div class="container-sm" >
						<div class="banner">
							<img class="movebounce img-fluid" src="{% static 'homestatic/img/cap 5.PNG' %}" alt="" >
						</div>
					</div>
					</div>
					<div class="col-lg-6 d-flex align-items-center">
					<div class="container-sm" >
						<div class="content">
							<h1>Organize your team<br> with our "Medeaz"</h1>
							<p>
								Manage all your people in one place.
							</p>
							<!-- <a class="smooth-menu view-btn" href="#viewdemos">Live Demo</a>  -->
						</div>
					</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Banner -->

		<!-- Start Features -->
		<div id="features" class="features-section">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 equal-height"  data-aos-delay="200">
						<div class="feature-list">
							<div class="feature-icon">
								<i class="fa fa-user text-primary"></i>
							</div>
							<div class="feature-info">
								<h4>Easy Customizable</h4>
								<p>
									Easy to customize your code, well documented and W3 validated code. Developers can take advantage immediately.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 equal-height">
						<div class="feature-list" >
							<div class="feature-icon">
								<i class="fa fa-mobile text-warning"></i>
							</div>
							<div class="feature-info">
								<h4>Responsive Design</h4>
								<p>
									Completely responsive, fully functional on iPad, iPhone, tablets, and other mobile phones.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 equal-height"  data-aos-delay="100">
						<div class="feature-list">
							<div class="feature-icon">
								<i class="fa fa-cube text-danger"></i>
							</div>
							<div class="feature-info">
								<h4>Advanced Features</h4>
								<p>
									Advanced features tools like graphs, charts, invoices, video & audio call's, projects, etc.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 equal-height"  data-aos-delay="200">
						<div class="feature-list">
							<div class="feature-icon">
								<i class="fa fa-code text-success"></i>
							</div>
							<div class="feature-info">
								<h4>Clean Codes</h4>
								<p>
									Well tested, well documented and W3 validated code. Developers can take advantage immediately.
								</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<!-- End Features -->

		<!-- Start Demo -->
		<div id="viewdemos" class="demo-section">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="container-xs" >
							<div class="section-heading text-center">
								<h2>Multiple Options</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="row demo-row">
					<div class="col-md-6 col-sm-6 col-12">
						<div class="demo-wrap" >
							<div class="demo-tabs">
								<ul class="nav nav-tabs">
									<li class="nav-item"><a target="_blank" href="dleohr/index.html" title="Html Preview">Html5 / Bootstrap4 / css3</a></li>
								</ul>
							</div>
							<div class="demo-box">
								<a target="_blank" href="dleohr/index.html" title="Html Preview"><img class="img-fluid" src="{% static 'homestatic/img/cap 7.PNG' %}" width="735" height="418" alt="Orange"></a>
								<h3 class="demo-title">Horizontal Menu</h3>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-12">
						<div class="demo-wrap" >
							<div class="demo-tabs">
								<ul class="nav nav-tabs">
									<li class="nav-item"><a target="_blank" href="dleohr-vertical/index.html" title="Html Preview">Html5 / Bootstrap4 / css3</a></li>
								</ul>
							</div>
							<div class="demo-box">
								<a target="_blank" href="dleohr-vertical/index.html" title="Html Preview"><img class="img-fluid" src="{% static 'homestatic/img/cap 8.PNG' %}" width="735" height="418" alt="Light"></a>
								<h3 class="demo-title">Vertical Menu</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Demo -->

		<div id="about" class="about-section">
			<div class="section-right">
				<div class="content-table">
					<div class="table-col" >
						<div class="showcase-img"><img src="{% static 'homestatic/img/Capture1.PNG' %}" alt="" class="img-fluid"></div>
					</div>
					<div class="table-col" >
						<div class="showcase">
							<h3 class="title">Managing Leave is easy!</h3>
							<p class="desc">Stop counting on spreadsheet.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="section-left">
				<div class="content-table">
					<div class="table-col" >
						<div class="showcase-img"><img src="{% static 'homestatic/img/Capture1.PNG' %}" alt="" class="img-fluid"></div>
					</div>
					<div class="table-col">
						<div class="showcase" >
							<h3 class="title">Build a great place to work!</h3>
							<p class="desc">Easy to engage your team here.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section-right">
				<div class="content-table">
					<div class="table-col" >
						<div class="showcase-img"><img src="{% static 'homestatic/img/Capture1.PNG' %}" alt="" class="img-fluid"></div>
					</div>
					<div class="table-col" >
						<div class="showcase">
							<h3 class="title">Vertical Menubar!</h3>
							<p class="desc">Easy to handle submenus and menus.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Start Subscribe -->
		<div id="customize" class="custom-section">
			<div class="container">
				<div class="container-xs">
					<div class="section-heading text-center" >
						<h2>Looking for a custom design?</h2>
						<p>We (Dreamguys Technologies) are happy to customize your products based on your needs, send us a note!!!</p>
					</div>
					<div class="subscribe" >
						<form id="contact-form" method="post">
							<div class="messages"></div>
							<div class="input-group">
								<input maxlength=50 id="form_email" type="email" placeholder="Enter your e-mail here" class="form-control" name="email">
								<span class="input-group-addon">
									<button id="submit_button" type="submit">
										<i class="fa fa-send"></i>
									</button>
								</span>
							</div>
							<span class="alert" style="color: #ff9b44; display: none;" id="alert_message">Please enter a valid email</span>
						</form>
					</div>

				</div>
			</div>
		</div>
		<!-- End Subscribe -->

		<!-- Start Overview -->
		<div id="overview" class="overview-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="container-xs"   data-aos-delay="100">
							<div class="section-heading text-center">
								<h2>Pages Overview</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 text-center overview-items">
                        <div class="overview-img">
                            <a href="dleohr/company.html">
                        <img src="{% static 'homestatic/img/cap 4.PNG' %}" alt="#">
                                  
                                </a>
                            </div>
					</div>
						<!-- <div class="overview-carousel owl-carousel owl-theme"  data-aos-delay="100">
							<div class="overview-img">
								<a href="dleohr/company.html">
									<img src="{% static 'homestatic/img/cap 4.PNG' %}" alt="#">
									<h4>Company</h4>
								</a>
							</div>
							<div class="overview-img">
								<a href="dleohr/calendar.html">
									<img src="{% static 'homestatic/img/cap 4.PNG' %}" alt="#">
									<h4>Calendar</h4>
								</a>
							</div>
							<div class="overview-img">
								<a href="dleohr/leave.html">
									<img src="{% static 'homestatic/img/cap 4.PNG' %}" alt="#">
									<h4>Leave</h4>
								</a>
							</div>
							<div class="overview-img">
								<a href="dleohr/employees.html">
									<img src="{% static 'homestatic/img/cap 4.PNG' %}" alt="#">
									<h4>Employees</h4>
								</a>
							</div>
							<div class="overview-img">
								<a href="dleohr/admin-dashboard.html">
									<img src="{% static 'homestatic/img/cap 4.PNG' %}" alt="#">
									<h4>Admin Dashboard</h4>
								</a>
							</div>
							
							<div class="overview-img">
								<a href="dleohr/reports.html">
									<img src="{% static 'homestatic/img/cap 4.PNG' %}" alt="#">
									<h4>Reports</h4>
								</a>
							</div>
							<div class="overview-img">
								<a href="dleohr/manage.html">
									<img src="{% static 'homestatic/img/cap 4.PNG' %}" alt="#">
									<h4>Manage</h4>
								</a>
							</div>
							<div class="overview-img">
								<a href="dleohr/index.html">
									<img src="{% static 'homestatic/img/cap 4.PNG' %}" alt="#">
									<h4>Employees Dashboard</h4>
								</a>
							</div>
							<div class="overview-img">
								<a href="dleohr/employment.html">
									<img src="{% static 'homestatic/img/cap 4.PNG' %}" alt="#">
									<h4>Profile</h4>
								</a>
							</div>
							<div class="overview-img">
								<a href="dleohr/time-off.html">
								<img src="{% static 'homestatic/img/cap 4.PNG' %}" alt="#">
								<h4>TimeOff</h4>
								</a>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Overview -->

		<!-- Start Footer -->
		<footer class="footer">
			<div class="container-fluid">
				<div class="footer-top">
				<div class="row">
							<div class="col-md-12">
								<div class="container-xs"  data-aos-delay="100">
									<div class="section-heading text-center">
										<h2>Contact Info</h2>
									</div>
								</div>
							</div>
						</div>
					<div class="row offset-md-3">
						<div class="col-md-8">
							<div class="footer-widget twitter-widget"  data-aos-delay="200">
								<div class="footer-list text-center">
									<ul>
										<li>
											<div class="info-list text-center">
												<a href="https://medeaz.com/" target="_blank">
													<i class="fa fa-globe"></i>
													<span>www.medeaz.com</span>
												</a>
											</div>
										</li>
										<li>
											<div class="info-list">
												<a href="mailto:support@medeaz.com" target="_blank">
													<i class="fa fa-envelope"></i>
													<span>support@medeaz.com</span>
												</a>
											</div>
										</li>
										<li>
											<div class="info-list">
												<a href="#" target="_blank">
													<i class="fa fa-whatsapp"></i>
													<span>+91 6305827170, 6305829694,</span>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Start Footer Bottom -->
				<!-- <div class="footer-bottom">
					<div class="row">
						<div class="col-md-6">
							<p>&copy; Copyright 2018. All Rights Reserved by <a href="#">Dreamguys Technologies</a></p>
						</div>
						<div class="col-md-6">
							<div class="powered-by">
								<p>a product of <a target="_blank" href="https://dreamguys.co.in/"><img width="187" height="54" alt="Dreamguys"
										 src="{% static 'homestatic/img/dreamguys.png"></a></p>
							</div>
						</div>
					</div>
				</div> -->
				<!-- End Footer Bottom -->

			</div>
		</footer>
		<!-- End Footer -->

	</div>

	<!-- jQuery -->
	<script src="{% static 'homestatic/js/jquery-1.12.4.min.js' %}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="{% static 'homestatic/js/popper.min.js' %}"></script>
	<script src="{% static 'homestatic/js/bootstrap.min.js' %}"></script>

	<!-- jQuery Validation -->
	<script src="{% static 'homestatic/js/jquery.validate.min.js' %}"></script>

	<!-- Owl Carousel -->
	<script src="{% static 'homestatic/js/owl.carousel.min.js' %}"></script>

	<!-- Animate Scroll -->
	<script src="{% static 'homestatic/js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'homestatic/js/aos.js' %}"></script>

	<!-- Custom JS -->
	<script src="{% static 'homestatic/js/main.js' %}"></script>

		<!--End of Tawk.to Script-->
	
</body>
</html>