{% extends 'admin_dashboard.html' %}
{% load static %}
{% block content %}
<style>
    .card {
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.36) !important;
        padding: 5px;
        border-radius: 5px !important;
        margin-top: 20px;
    }
    .form-group {
        margin-bottom: 0px !important;
        padding: 9px;
    }
</style>
<div class="page-wrapper">
    <div class="row">
        <div class="col-md-12 page-title-div">
            <h1 class="header">vacancy List</h1>
            <ol class="breadcrumbs ">
                <li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li class="active"><a href="{% url 'vacancy_list' %}">vacancy List</a></li>
            </ol>
        </div>
        </div>
    <div class="container">
        <div class="card">
       
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <!-- {{form.as_p}} --> 
                    <div class="quali">
                    <div class="row form-group">
                        <div class="col-md-4">
                    <label for="id_jobtitle">Jobtitle:</label> <select name="jobtitle" id="id_jobtitle" class="form-control" required>
                        <option value="" selected>---------</option>
                        {% for job in jobtitle %}
                        <option value="{{job.id}}">{{job}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="col-md-4">
                    <label for="id_vacancy_name">Vacancy name:</label> <input type="text" class="form-control" name="vacancy_name"
                        maxlength="120" id="id_vacancy_name" required>
                    </div>
                        <div class="col-md-4">
                    <label for="id_hiring_manager">Hiring manager:</label> <select name="hiring_manager"
                        id="id_hiring_manager" class="form-control" required>
                        <option value="" selected>---------</option>
                        {% for emp in employee %}
                        <option value="{{emp.id}}">{{emp}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    
                        <div class="col-md-6">
                    <label for="id_number_of_positions">Number of positions:</label> <input type="number"
                        name="number_of_positions" value="0" id="id_number_of_positions"class="form-control" >
                        </div>
                        <div class="col-md-6">
                    <label for="id_description">Description:</label> <input type="text" name="description"
                        maxlength="120" id="id_description" class="form-control">
                        </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">

                            
                    <label for="id_status">Status:</label> <input type="checkbox" name="status" id="id_status" checked>
                </div>
            </div>
                </div>
                    <button class="btn btn-primary">Save</button>
                    <button class="btn btn-secondary" type="reset">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}